@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    overflow: hidden;
}

.homepage-ctn {
    height: 500vh;
    /* transform: translateY(-100vh) */
}

.App {
    position: relative;

}

.nav-wrapper {
    position: absolute;
    width: .7em;
    height: fit-content;
    top: 50vh;
    right: 0;
    z-index: 10;
    transform: translate(-50%, -50%)
}