.download {
    margin: 1em;
    padding: 1em;
    text-align: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}