#swipe-instructions {
    position: absolute;
    height: 15vh;
    font-weight: 200;
    font-size: 1em;
    top: 75vh;
}

#swipe-btn {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    width: 40px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

#swipe-btn::after {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    background-color: rgb(0, 0, 0);
    z-index: 10;
    border-radius: 100%;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    opacity: 100%;
    animation: slide 1250ms ease-in-out infinite;
    animation-delay: 500ms;
}

@keyframes slide {
    from {
        transform: translate(-50%, 0%);
        opacity: 100%;
    }

    to {
        transform: translate(-50%, 100%);
        opacity: 0%;
    }
}