.nav-btn {
    height: 10px;
    width: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: none;
    transition: all 250ms ease-in-out;
    padding: 0.3em 0.3em;
    margin: .5em 0;
    border-radius: 10px;
    cursor: pointer;
}

.nav-btn.active {
    background-color: rgb(255, 255, 255);
}