.section-ctn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    padding: 1.5em;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    text-transform: capitalize;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    font-weight: 200;
    letter-spacing: .1em;
    text-transform: capitalize;
    padding: 2em
}

.card {
    list-style: none;
    border: 1px solid;
    border-radius: 6px;
    padding: 2.5em;
    margin-top: 3em;
    width: 100%;
    max-width: 400px;
}

.card li {
    font-size: 1em;
    font-weight: normal;
    padding: .4em 0;
    text-transform: capitalize;
}

a {
    text-decoration: underline;
    color: inherit;
}

#email {
    font-size: .8em;
}

.dot {
    animation: fall 1000ms ease-in infinite;
}


.additionnal {
    padding: 3em 0 0 0;
    font-weight: lighter;
    font-size: .75em;
}

@keyframes fall {
    from {
        transform: translateY(-100vh)
    }

    to {
        transform: translateY(0vh)
    }
}