.section-ctn {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

h1 {
    font-size: 6em;
    text-transform: capitalize;
}

h2 {
    font-weight: 300;
    text-transform: capitalize;

}

.card {
    border: 1px solid;
    border-radius: 6px;
    padding: 4em;
    margin-top: 3em;
    ;
}

.card p {
    font-weight: normal;
}