.water-ctn {
    position: absolute;
    height: 2em;
    width: 2em;
    /* border: 1px solid black; */
    border-radius: 100%;
    top: 0px;
    left: -50px;
    z-index: 100;
    animation: scale 1500ms ease-out;
    /* animation-delay: 1000ms; */
}

/* .water-ctn::before {
    content: '';
    height: .5em;
    width: .5em;
    background-color: black;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border-radius: 100%;
} */

@keyframes scale {
    from {
        transform: scale(0%);
        border: 1px solid rgb(0, 0, 0);
        opacity: 1
    }

    to {
        transform: scale(400%);
        border: 1px solid rgb(0, 0, 0);
        opacity: 0
    }
}